<div class="container">
    <div class="row">
        <H1>Projects</H1>
    </div>
    <div class="row">
        Selected Server: <a href="#/selectServer"> 1.1.8.170 - GUIE-1907</a>
    </div>
    <div class='row'>
        <div>
            <input type="text" class="form-control" ng-model="filterName" placeholder="Search by name" ng-change="updateFilter()">
        </div>
        <div class="">
            <div class="checkbox checkbox-primary checkbox-circle">
            </div>
            <label class="checkbox-inline">
                <input ng-model="filterComplete" ng-change="updateFilter()" type="checkbox">Show Completed Projects
            </label>
        </div>
    </div>
    <div class="row project-row" ng-class="{'label-success': project.status==='complete', 'label-warning': project.status==='testing', 'label-default': project.status==='development'}" ng-repeat='project in projects | filter:filter'>
        <div class="col-md-12">
            <div dropdown is-open="status.isopen">
                <a href="#" class="dropdown-toggle no-underline" dropdown-toggle ng-disabled="disabled">
                    <h3>{{project.name}} </h3>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/migration">Checkout</a></li>
                    <li><a href="#/pushPlans">View Push Plans</a></li>
                    <li><a href="#">Jira</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
